{% extends 'base.html' %}

{% block title%}Товары{% endblock %}

{% block header %}Товары{% endblock %}

{% block content %}
    {% for every_column in items %}
        <section class="items" style="margin-bottom:10px; border-style:groove; float: left; width: 150px; margin: 0 2% 0 0;
 text-align: center">
            <h5><a href="/item/{{every_column.id}}">{{every_column.name}} {{every_column.brand}}</a></h5>
            <p><h6><a href="/item/{{every_column.id}}">{{every_column.description}}</a></h6></p>
        </section>
    {% endfor %}
{% endblock %}

{% block footer %}
    <div style="clear: left;">
        <a href="{% url 'home' %}">Главная</a>
    </div>
{% endblock %}